<div class="sidebar">

  <div>
    <h2 class="logo">📅 Gestión de Citas</h2>

    <nav>

      <a routerLink="/inicio" routerLinkActive="active">
        🏠 Inicio
      </a>

      <a routerLink="/mis-turnos" routerLinkActive="active">
        📋 Mis Turnos
      </a>

      <a routerLink="/solicitar-turno" routerLinkActive="active">
        ➕ Solicitar Turno
      </a>

      <a routerLink="/notificaciones" routerLinkActive="active">
        🔔 Notificaciones
      </a>

      <a routerLink="/perfil" routerLinkActive="active">
        👤 Perfil
      </a>

    </nav>

  </div>

</div>