.perfil-container{
max-width:500px;
}

.perfil-header{
display:flex;
align-items:center;
gap:15px;
}

.avatar.grande{
width:60px;
height:60px;
font-size:18px;
}

.perfil-info{
margin-top:15px;
display:flex;
flex-direction:column;
gap:8px;
}

.btn-editar{
margin-top:15px;
background:#2563eb;
color:white;
border:none;
padding:10px;
border-radius:8px;
cursor:pointer;
}